.login-form {
  text-align: center;
  margin-top: 200px
}

.search-input {
  vertical-align: middle;
  width: 90px;
  margin-right: 16px
}

/*
.toolbar--material__center {
  margin-left: 10px
}
*/

.toolbar__center.toolbar--material__center.app-css-title-center {
  text-align: center;
}

/*
ons-fab.fab--bottom__right {
  bottom: 65px
}
*/

.status-pending, .status-canceled {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
}

.status-pending {
  background-color: #58ACFA; /*青*/
}

.status-canceled {
  background-color: #04B404; /*緑*/
}

.span-three-dot-leader {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
