.login-form {
  text-align: center;
  margin-top: 200px
}

.search-input {
  vertical-align: middle;
  width: 90px;
  margin-right: 16px
}

/*
.toolbar--material__center {
  margin-left: 10px
}
*/

.toolbar__center.toolbar--material__center.app-css-title-center {
  text-align: center;
}

/*
ons-fab.fab--bottom__right {
  bottom: 65px
}
*/

.time-options {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
}

.status-pending, .status-canceled {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
}

.status-pending {
  background-color: #58ACFA; /*青*/
}

.status-canceled {
  background-color: #04B404; /*緑*/
}

.span-three-dot-leader {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

/*
.select-input.select-input--material.datepicker-margin {
  margin-right: 15px;
}

.radio-button.radio-button--material.radio-button-margin {
 margin-right: 15px;
}
*/

/* radio button */
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 5px 10px;
    /* margin-right: 18px; */
    border-radius: 10px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #0076ff;
    color: #fff;
    /* text-shadow: 0 0 1px rgba(0,0,0,.7); */
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
~   

