<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-onsenui"></script>
  <link rel="stylesheet" href="app.css">
  <script src="params.js"></script>
  <script>
    function createURLSearchParams(data) {
      const params = new URLSearchParams();
      Object.keys(data).forEach(key => params.append(key, data[key]));
      return params;
    }

   function isAuth() {
   }
  </script>
</head>

<body>

<!-- MAIN -->
<template id="main">
  <v-ons-navigator swipeable
    :options="{
      animation: 'fade',
      animationOptions: {duration: 3, timing: 'ease-in'}
    }"
    :page-stack="pageStack"
    @push-page="pageStack.push($event)"
  ></v-ons-navigator>
</template>

<!-- LOGIN -->
<template id="loginPage">
  <v-ons-page>
    <div class="login-form">
      <p><v-ons-input v-model="form.name" id="username" modifier="underbar" placeholder="Username" float></v-ons-input></p>
      <p><v-ons-input v-model="form.password" id="password" modifier="underbar" type="password" placeholder="Password" float></v-ons-input></p>
      <v-ons-button @click="login">login</v-ons-button>
    </div>
  </v-ons-page>
</template>

<!-- MYDC -->
<template id="myDCs">
  <v-ons-page>

<div class="toolbar toolbar--material">
  <div class="toolbar__left toolbar--material__left">
    <span class="toolbar-button toolbar-button--material">
      <i class="zmdi zmdi-menu"></i>
    </span>
  </div>
  <div class="toolbar__center toolbar--material__center">
    <input type="search" value="" placeholder="Search" class="search-input">
  </div>
  <div class="toolbar__right toolbar--material__right">
    <span class="toolbar-button toolbar-button--material">
      <ons-icon @click="logout" icon="fa-sign-out-alt" fixed-width="false"></ons-icon>
    </span>
    <span class="toolbar-button toolbar-button--material">
      <i class="zmdi zmdi-more-vert"></i>
    </span>
  </div>
</div>


<ul class="list list--material">
  <li class="list-item list-item--material" v-for="dc in datacenters">
    <div class="list-item__left list-item--material__left">
      <img class="list-item__thumbnail list-item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
    </div>

    <div class="list-item__center list-item--material__center">
      <div class="list-item__title list-item--material__title">{{ dc.name }}</div>
      <div class="list-item__subtitle list-item--material__subtitle">{{ dc.address }}</div>
    </div>

    <div class="list-item__right list-item--material__right">
      <i style="color:#ccc" class="list-item__icon list-item--material__icon zmdi zmdi-comment"></i>
    </div>
  </li>
</ul>

  <ons-fab position="bottom right">
    <ons-icon icon="md-plus"></ons-icon>
  </ons-fab>

<div class="tabbar">
  <label class="tabbar__item">
    <input type="radio" name="tabbar-b" checked="checked">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-stop"></i>
    </button>
  </label>

  <label class="tabbar__item">
    <input type="radio" name="tabbar-b">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-record"></i>
    </button>
  </label>

  <label class="tabbar__item">
    <input type="radio" name="tabbar-b">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-star"></i>
    </button>
  </label>

</div>

  </v-ons-page>
</template>

<!-- AR -->
<template id="accessRequest">
  <v-ons-page>

<div class="toolbar toolbar--material">
  <div class="toolbar__left toolbar--material__left">
    <span class="toolbar-button toolbar-button--material">
      <i class="zmdi zmdi-menu"></i>
    </span>
  </div>
  <div class="toolbar__center toolbar--material__center">
    <input type="search" value="" placeholder="Search" class="search-input">
  </div>
  <div class="toolbar__right toolbar--material__right">
    <span class="toolbar-button toolbar-button--material">
      <ons-icon @click="logout" icon="fa-sign-out-alt" fixed-width="false"></ons-icon>
    </span>
    <span class="toolbar-button toolbar-button--material">
      <i class="zmdi zmdi-more-vert"></i>
    </span>
  </div>
</div>


<ul class="list list--material">
  <li class="list-item list-item--material" v-for="item in items">
    <div class="list-item__left list-item--material__left">
      <img class="list-item__thumbnail list-item--material__thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wwJCB8v/9zErgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAvSURBVFjD7c0BDQAACAMgtX+KJzWGm4MCdJK6MHVELBaLxWKxWCwWi8VisVj8MV7qBgI2A8rYpgAAAABJRU5ErkJggg==">
    </div>

    <div class="list-item__center list-item--material__center">
      <div class="list-item__title list-item--material__title">{{ item.message }}</div>
      <div class="list-item__subtitle list-item--material__subtitle">Description</div>
    </div>

    <div class="list-item__right list-item--material__right">
      <i style="color:#ccc" class="list-item__icon list-item--material__icon zmdi zmdi-comment"></i>
    </div>
  </li>
</ul>

  <ons-fab position="bottom right">
    <ons-icon icon="md-plus"></ons-icon>
  </ons-fab>

<div class="tabbar">
  <label class="tabbar__item">
    <input type="radio" name="tabbar-b" checked="checked">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-stop"></i>
    </button>
  </label>

  <label class="tabbar__item">
    <input type="radio" name="tabbar-b">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-record"></i>
    </button>
  </label>

  <label class="tabbar__item">
    <input type="radio" name="tabbar-b">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-star"></i>
    </button>
  </label>

</div>

  </v-ons-page>
</template>


<!-- APP -->
<div id="app"></div>



<script>

const myDCs = {
  key: 'myDCs',
  template: '#myDCs',
  data () {
    return {
      datacenters: [{id: 111}]
    }
  },
  created() {
    this.getMyDCs()
  },
  methods: {
    logout() {
      console.log('logout clicked');
      fetch(base_url + "glass/glass-logout").then(function(response) {
        console.log(response);
      });
    },
    getMyDCs() {
      fetch(base_url + "nexcenter-jp/v2/data_centers?presence=true")
        .then(response => response.json())
        .then(json => {
          console.log(json);
          this.datacenters = json;
        }); 
    }
  }
};

const accessRequest = {
  key: 'accessRequest',
  template: '#accessRequest',
  data () {
    return {
      items: [
        { message: 'Foo' },
        { message: 'Bar' },
        { message: 'Hoge' },
        { message: 'Huga' }
      ]
    }
  },
  created() {
    this.getAccessRequests()
    //this.getMyDCs()
  },
  methods: {
    logout() {
      console.log('logout clicked');
      fetch(base_url + "glass/glass-logout").then(function(response) {
        console.log(response);
      });
    },
    getAccessRequests() {
      fetch(base_url + "nexcenter-jp/v2/" + dcid + "/access_requests").then(function(response) {
        console.log(response.json());
      });
    },
    getMyDCs() {
      fetch(base_url + "nexcenter-jp/v2/data_centers?presence=true").then(function(response) {
        console.log(response.json());
      });
    }
  }
};

const loginPage = {
  key: 'loginPage',
  template: '#loginPage',
  login_url: login_url = base_url + "glass/login-handler",
  data() {
    return {
      form: {
        name: '',
        password: ''
      }
    }
  },
  methods: {
    login() {
      console.log(this.form);
      var form_data = { "username": this.form.name, "password": this.form.password, "destination": "" };
      var login_options = { mode: 'cors', method: 'post', credentials: 'include', body: createURLSearchParams(form_data) };
      //console.log(login_options);
      //console.log(login_url);

    // login API call in synced manner
    (async () => {
      try {
        const response = await fetch(login_url, login_options);
        //response.headers.forEach((value, key) => console.log(key, ": ", value))
        const json = await response.json();
        //console.log(json);
        if (json.ok == 1){
          console.log('login succeeded')
          this.$emit('push-page', myDCs);
        }else{
          console.log('login failed')
        }
      } catch (error) {
        console.log(error);
      }
    })();


    }
  }
};

Vue.use(VueOnsen);
var vm = new Vue({
  el: '#app',
  template: '#main',
  data() {
    return {
      pageStack: [loginPage]
    };
  }
});

</script>

</body>
<html>

