<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-onsenui"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="params.js"></script>
  <script src="mylib.js"></script>
  <link rel="stylesheet" href="app.css">
</head>

<body>

<!--main-->
<template id="main">
  <v-ons-navigator swipeable
    :options="{
      //animation: 'fade',
      animation: 'slide',
      animationOptions: {duration: 0.5, timing: 'ease-in'}
      //animationOptions: {duration: 3}
      //animationOptions: { timing: 'ease-in'}
    }"
    :page-stack="pageStack"
    @push-page="pageStack.push($event)"
  ></v-ons-navigator>
</template>

<!--login-->
<template id="loginPage">
  <v-ons-page>
    <div class="login-form">
      <p><v-ons-input v-model="form.name" id="username" modifier="underbar" placeholder="Username" float></v-ons-input></p>
      <p><v-ons-input v-model="form.password" id="password" modifier="underbar" type="password" placeholder="Password" float></v-ons-input></p>
      <v-ons-button @click="login">login</v-ons-button>
    </div>
  </v-ons-page>
</template>

<!--datacenters-->
<template id="Datacenters">
  <v-ons-page>

  <div class="toolbar toolbar--material">
    <div class="toolbar__left toolbar--material__left">
    </div>

    <div class="toolbar__center toolbar--material__center app-css-title-center">
      <span>Datacenters</span>
    </div>

    <div class="toolbar__right toolbar--material__right">
    </div>
  </div>


  <ul class="list list--material">
    <li class="list-item list-item--material" v-for="dc in datacenters">

      <div class="list-item__left list-item--material__left">
        <img class="list-item__thumbnail list-item--material__thumbnail" v-bind:src="getFlagFile(dc.globalRef)">
      </div>

      <div @click="selectedDC(dc.id)" class="list-item__center list-item--material__center list-item--chevron list-item--tappable">
        <div class="list-item__title list-item--material__title">{{ dc.name }}</div>
        <div class="list-item__subtitle list-item--material__subtitle"><ons-icon icon="fa-map-marker-alt"></ons-icon> {{ dc.timezone }}</div>
      </div>

    </li>
  </ul>

  <div class="tabbar">
    <label class="tabbar__item">
      <!-- <input type="radio" name="tabbar-b"> -->
      <button @click="users" class="tabbar__button">
        <ons-icon icon="fa-users" fixed-width="false" size="2x"></ons-icon>
      </button>
    </label>

    <label class="tabbar__item">
      <input type="radio" name="tabbar-b">
      <button class="tabbar__button">
        <i class="tabbar__icon ion-record"></i>
      </button>
    </label>

    <label class="tabbar__item">
      <input type="radio" name="tabbar-b">
      <button class="tabbar__button">
      <!-- <i class="tabbar__icon ion-star"></i> -->
        <ons-icon @click="logout" icon="fa-sign-out-alt" fixed-width="false" size="2x"></ons-icon>
      </button>
    </label>
  </div>

  </v-ons-page>
</template>

<!--taccessRequest-->
<template id="accessRequest">
  <v-ons-page>

  <div class="toolbar toolbar--material"> 
    <div class="toolbar__left toolbar--material__left">
      <v-ons-back-button></v-ons-back-button>
    </div>

    <div class="toolbar__center toolbar--material__center app-css-title-center">
      <span>Requests</span>
    </div>

    <div class="toolbar__right toolbar--material__right">
      <input type="search" value="" placeholder="Search" class="search-input">
    </div>
  </div>
  
  <ul class="list list--material">
    <li class="list-item list-item--material" v-for="ar in access_requests">

      <div class="list-item__left list-item--material__left"></div>
    
      <div class="list-item__center list-item--material__center">
        <div class="list-item__title list-item--material__title">
          <span>{{ ar.request }}</span>
          <span style="float: right">
            <ons-icon icon="fa-edit" fixed-width="false"></ons-icon>
            <ons-icon icon="fa-info" fixed-width="false"></ons-icon>
            <!-- <ons-icon icon="fa-info-circle" fixed-width="false"></ons-icon> -->
          </span>
        </div>
        <div class="list-item__subtitle list-item--material__subtitle">
          <ons-icon icon="fa-user" fixed-width="false"></ons-icon> {{ getRequesterName(ar.requestedBy.id) }}
        </div>
        <div class="list-item__subtitle list-item--material__subtitle">
          <ons-icon icon="fa-clock" fixed-width="false"></ons-icon> {{ dateFormat(ar.start) }}
          <ons-icon icon="fa-caret-right" fixed-width="false"></ons-icon> {{ dateFormat(ar.end) }}
        </div>
        <div class="list-item__subtitle list-item--material__subtitle">
          <ons-icon icon="fa-server" fixed-width="false"></ons-icon> <span class="span-three-dot-leader">{{ getCabNames(ar.cabs) }}</span>
        </div>
        <div class="list-item__subtitle list-item--material__subtitle">
          <ons-icon icon="fa-users" fixed-width="false"></ons-icon> <span class="span-three-dot-leader">{{ getAttendeeNames(ar.attendees) }}</span>
        </div>
        <div class="list-item__subtitle list-item--material__subtitle">
          <ons-icon icon="fa-tasks" fixed-width="false"></ons-icon> {{ ar.stateInformation }}
        </div>
      </div>

      <div class="list-item__right list-item--material__right"></div>
    </li>
  </ul>

  <ons-fab position="bottom right" @click="showRequestForm">
    <ons-icon icon="md-plus"></ons-icon>
  </ons-fab>

  </div>

  </v-ons-page>
</template>

<!--tusers-->
<template id="Users">
  <v-ons-page>

  <div class="toolbar toolbar--material">
    <div class="toolbar__left toolbar--material__left">
      <v-ons-back-button></v-ons-back-button>
    </div>

    <div class="toolbar__center toolbar--material__center app-css-title-center">
      <span>Users</span>
    </div>

    <div class="toolbar__right toolbar--material__right">
      <input type="search" value="" placeholder="Search" class="search-input">
    </div>
  </div>

<ul class="list list--material">
  <li class="list-item list-item--material" v-for="ar in users">
    <div class="list-item__left list-item--material__left">
      <img class="list-item__thumbnail list-item--material__thumbnail" src="https://static01.nyt.com/newsgraphics/2017/07/17/got-matrix/f5b9cc4a9d71d8f75e294a5294ff13107118abcd/cropped/toned/tyrion-lannister.jpg"></img>
      <!-- <ons-icon icon="fa-user" fixed-width="false" size="3x"></ons-icon> -->
    </div>

    <div class="list-item__center list-item--material__center">
      <div class="list-item__title list-item--material__title">
        <span>{{ ar.name }}</span>
        <span style="float: right">
          <ons-icon icon="fa-info" fixed-width="false"></ons-icon>
        </span>
      </div>
      <div class="list-item__subtitle list-item--material__subtitle">
        <ons-icon icon="fa-building" fixed-width="false"></ons-icon> {{ ar.location }}
      </div>
      <div class="list-item__subtitle list-item--material__subtitle">
        <ons-icon icon="fa-envelope" fixed-width="false"></ons-icon> {{ ar.email }}
      </div>
    </div>

    <div class="list-item__right list-item--material__right"></div>

  </li>
</ul>

  </v-ons-page>
</template>

<!--tcreateAccessRequest-->
<template id="createAccessRequest">
  <v-ons-page>

  <div class="toolbar toolbar--material">
    <div class="toolbar__left toolbar--material__left">
      <v-ons-back-button>@</v-ons-back-button>
    </div>

    <div class="toolbar__center toolbar--material__center app-css-title-center">
      <span>Create Access Request</span>
    </div>

    <div class="toolbar__right toolbar--material__right">
    </div>
  </div>

  <ul class="list list--material">
      <li class="list-header">
        Date / Time / Duration:
        {{ selectedDate }} {{ selectedTime }} {{ selectedDuration }}
      </li>

      <li class="list-item list-item--nodivider">
        <div class="list-item__left list-item--material__left">
          <ons-icon icon="fa-calendar-alt" fixed-width="false" size="2x"></ons-icon>
        </div>
        <div class="list-item__center list-item--nodivider__center">
          <span v-for="sdate in startDate">
            <input v-bind:id="sdate" class="radio-inline__input" type="radio" name="sdate" v-model="selectedDate" v-bind:value="sdate"/>
            <label class="radio-inline__label" v-bind:for="sdate">{{ sdate }}</label>
          </span>
        </div>
      </li>

      <li class="list-item list-item--nodivider">
        <div class="list-item__left list-item--material__left">
          <ons-icon icon="fa-clock" fixed-width="false" size="2x"></ons-icon>
        </div>
        <div class="list-item__center list-item--nodivider__center">
          <span v-for="stime in startTime">
            <input v-bind:id="stime" class="radio-inline__input" type="radio" name="stime" v-model="selectedTime" v-bind:value="stime"/>
            <label class="radio-inline__label" v-bind:for="stime">{{ stime }}</label>
          </span>
        </div>
      </li>

      <li class="list-item list-item--nodivider">
        <div class="list-item__left list-item--material__left">
          <ons-icon icon="fa-user-clock" fixed-width="false" size="2x"></ons-icon>
        </div>
        <div class="list-item__center list-item--nodivider__center">
          <span v-for="dur in duration">
            <input v-bind:id="dur" class="radio-inline__input" type="radio" name="duration" v-model="selectedDuration" v-bind:value="dur"/>
            <label class="radio-inline__label" v-bind:for="dur">{{ dur }}</label>
          </span>
        </div>
      </li>

      <li class="list-header">
        Cabs: {{ selectedCabList }}
      </li>

      <li class="list-item list-item--nodivider">
        <div class="list-item__left list-item--material__left">
          <ons-icon icon="fa-server" fixed-width="false" size="2x"></ons-icon>
        </div>
        <div class="list-item__center list-item--nodivider__center">
        <span class="checkbox-tag" v-for="cab in cabs">
          <input v-bind:id="cab" class="radio-inline__input" type="checkbox" name="cab" v-bind:value="cab" v-bind:value="cab" v-model="selectedCabs">
          <label class="radio-inline__label" v-bind:for="cab">{{ cab }}</label>
        </span>
        </div>
      </li>

      <li class="list-item list-item--nodivider">
        <div class="list-item__center list-item--nodivider__center">
          <v-ons-button class="button-center" @click="submitRequest">Request</v-ons-button>
        </div>
      </li>

  </ul>



  </v-ons-page>
</template>

<!-- app -->
<div id="app"></div>



<script>

//_datacenters
const Datacenters = {
  key: 'Datacenters',
  template: '#Datacenters',
  data () {
    return {
      datacenters: [{ id: "datacenters" }]
    }
  },
  created() {
    this.getDatacenters()
  },
  methods: {
    logout() {
      console.log('logout clicked');
      fetch(base_url + "glass/glass-logout").then(function(response) {
        console.log(response);
      });
    },
    selectedDC(dcid) {
      console.log("you select dc " + dcid);
      this.$emit('push-page', {
        extends: accessRequest,
        data() {
          return {
            selectedDcId: dcid
          };
        },
        onsNavigatorOptions: {
          animation: 'slide',
          //animationOptions: { duration: 0.5 }
        }
      });
    },
    users() { 
      console.log('users clicked');
      this.$emit('push-page', {
        extends: Users,
        onsNavigatorOptions: {
          animation: 'lift',
          animationOptions: { duration: 0.5 }
        }
      });
    },
    getFlagFile(globalRef) {
      var flags = {
        "DC-JP-00000038": "singapore.png",
        "DC-JP-00000029": "japan.png",
        "DC-JP-00000256": "germany.png",
        "DC-JP-00000257": "india.png"
      };
      return "img/" + flags[globalRef]
    },
    getDatacenters() {
      fetch(base_url + "nexcenter-jp/v2/data_centers?presence=true")
        .then(res => res.json())
        .then(json => {
          console.log(json);
          this.datacenters = json;
        }); 
    }
  }
};

//_users
const Users = {
  key: 'Users',
  template: '#Users',
  data () {
    return {
      users: [{ id: "Something went wrong if you see this default value" }]
    }
  },
  created() {
    this.getUsers()
  },
  methods: {
    getUsers() {
      fetch(base_url + "nexcenter-jp/v2/users?limit=0")
        .then(response => response.json())
        .then(json => {
          console.log(json);
          this.users = json
        }); 
    }
  }
}

//_ar 
const accessRequest = {
  key: 'accessRequest',
  template: '#accessRequest',
  requestedUserName: '',
  data () {
    return {
      // "selectedDcId" is passed passed by datacenters page
      access_requests: [ { id: "accessRequestId" } ],
      users: [ { id: "userId" } ], // allMyUsers
      cabs: [ { id: "cabId" } ],    // allMyCabs
    }
  },
  computed: {
    cabsInThisRequest: function() {
      return access_requests.cabs
    }
  },
  created() {
    this.getUsers();
    this.getCabs();
    this.getAccessRequests();
  },
  mounted() {
    //this.getAccessRequests();
  },
  methods: {
    logout() {
      console.log('logout clicked');
      fetch(base_url + "glass/glass-logout").then(function(response) {
        console.log(response);
      });
    },
    getAccessRequests() {
      console.log("i received dcid as " + this.selectedDcId);
      api.get(this.selectedDcId + "/access_requests")
         .then(response => (this.access_requests = response.data))
         .catch(error => console.log(error))
    },
    getUsers() {
      api.get("users?limit=0")
         .then(response => (this.users = response.data))
         .catch(error => console.log(error))
    },
    getCabs() {
      api.get(this.selectedDcId + "/cabs")
         .then(response => (this.cabs = response.data))
         .catch(error => console.log(error))
    },
    getRequesterName(userId) {
      return findNameById(userId, this.users);
    },
    getAttendeeNames(attendees) {
      var attendeeNames = "";
      attendees.forEach((attendee) => {
        attendeeNames = attendeeNames + findNameById(attendee.id, this.users) + ", "
      });
      return attendeeNames.slice(0, -2)
    },
    getCabNames(cabs) {
      var cabNames = "";
      cabs.forEach((cab) => {
        cabNames = cabNames + findNameById(cab.id, this.cabs) + ", "
        console.log(cabNames);
      });
      return cabNames.slice(0, -2)
    },
    dateFormat(iso8601) {
      date = new Date(iso8601)
      console.log(date);
      yyyy = date.getFullYear()
      mm = date.getMonth() + 1
      dd = date.getDate()
      hh = ("0" + date.getHours()).slice(-2)
      mi = ("0" + date.getMinutes()).slice(-2)
      return yyyy + "/" + mm + "/" + dd + " " + hh + ":" + mi
    },
    showRequestForm() {
      console.log('showRequestForm clicked');
      this.$emit('push-page', {
        extends: createAccessRequest,
        onsNavigatorOptions: {
          animation: 'lift',
          animationOptions: { duration: 0.5 }
        }
      });
    }
  }
};

//_login
const loginPage = {
  key: 'loginPage',
  template: '#loginPage',
  login_url: login_url = base_url + "glass/login-handler",
  data() {
    return {
      form: {
        name: '',
        password: ''
      }
    }
  },
  methods: {
    login() {
      console.log(this.form);
      var form_data = { "username": this.form.name, "password": this.form.password, "destination": "" };
      var login_options = { mode: 'cors', method: 'post', credentials: 'include', body: createURLSearchParams(form_data) };
      //console.log(login_options);
      //console.log(login_url);

      // login API call in synced manner
      (async () => {
        try {
          const response = await fetch(login_url, login_options);
          //response.headers.forEach((value, key) => console.log(key, ": ", value))
          const json = await response.json();
          //console.log(json);
          if (json.ok == 1){
            console.log('login succeeded')
            this.$emit('push-page', Datacenters);
          }else{
            console.log('login failed')
          }
        } catch (error) {
          console.log(error);
        }
      })();
    }
  }
};

//_create_access_request
const createAccessRequest = {
  key: "createAccessRequest",
  template: "#createAccessRequest",
  data () {
    return {
      today: "",
      startDate: [ "Today", "Tomorrow", "Next day" ],
      startTime: [ "9am", "12pm", "3pm", "6pm" ],
      duration: [ "3H", "6H", "12H", "24H"],
      cabs: [ "cab01", "cab02", "cab03", "cab04", "cab05", "cab06" ],
      selectedDate: "",
      selectedTime: "",
      selectedDuration: "",
      selectedCabs: [],
      form: {
        start: "2019-01-05T03:16:17.145Z",
        end: "2019-01-05T03:16:17.145Z",
        description: "string",
        attendees: [
          {
            id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        ],
        details: {
          equipmentIn: true,
          equipmentOut: true
        },
        cabs: [
          {
            id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        ],
        willUploadFile: false
      }
    }
  },
  created() {
    this.firstDate = new Date();
    this.secondDate = this.firstDate.setDate(+1);
    //this.getUsers()
  },
  computed: {
    selectedCabList: function() {
       return this.selectedCabs.join(", ")
    },
    computedStartDateTime: function() {
      var _startDate = "1970101"
      var _startTime = ""
      switch(this.selectedDate){
        case "Today":
          var _startDate = moment().format("YYYYMMDD")
          break;
        case "Tomorrow":
          var _startDate = moment().add(1, "days").format("YYYYMMDD")
          break;
      }
      switch(this.selectedTime){
        case "9am":
          _startTime = "09"
          break;
        case "12pm":
          _startTime = "12"
          break;
        case "3pm":
          _startTime = "15"
          break;
        case "6pm":
          _startTime = "18"
          break;
      }
      var sdt = moment(_startDate + "T" + _startTime).format()
      this.form.start = sdt
      return sdt
    },
    computedEndDateTime: function() {
      var _duration = 0
      switch(this.selectedDuration){
        case "3H":
          _duration = 3
          break;
        case "6H":
          _duration = 6
          break;
        case "12H":
          _duration = 12
          break;
        case "24H":
          _duration = 24
          break;
      }
      var edt = moment(this.computedStartDateTime).add(_duration, "hours").format()
      this.form.end = edt
      return edt
    }
  },
  methods: {
    submitRequest() {
      console.log("You selected " + this.selectedDate);
      console.log("You selected " + this.selectedTime);
      console.log("computedToday is " + this.computedToday);
      console.log("selectedDuration is " + this.selectedDuration);
      console.log("computedTomorrow is " + this.computedTomorrow);
      console.log("computedStartDateTime is " + this.computedStartDateTime);
      console.log("computedEndDateTime is " + this.computedEndDateTime);
      console.log(this.dateSelection);
      console.log(this.firstDate);
      console.log(this.secondDate);
      console.log(this.form);
      var now = moment();
      console.log(now);
    },
    getUsers() {
      fetch(base_url + "nexcenter-jp/v2/users?limit=0")
        .then(response => response.json())
        .then(json => {
          console.log(json);
          this.users = json
        }); 
    }
  }
}

//_vue
Vue.use(VueOnsen);
var vm = new Vue({
  el: '#app',
  template: '#main',
  data() {
    return {
      pageStack: [loginPage]
      //pageStack: [createAccessRequest]
    };
  }
});

</script>

</body>
<html>

